.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 15px 40px;
		display: inline-block;
		border-radius: 100px;
		transition: all .2s;
		position: relative;

		////////
		border: none;
		cursor: pointer;
	}
	&:hover {
		transform: translatey(-3px);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 2);

		&::after {
			transform: scalex(1.4) scaley(1.6);
			opacity: 0;
		}
	}
	&:active {
		transform: translatey(-1px);
	}
	&-white {
		background-color: white;
		color: $dark-blue;

		&::after {
			background-color: white;
		}
	}

	&-blue {
		background-color: blue;
		color: white;
		margin-top: 4rem;

		&::after {
			background-color: blue;
		}
	}
	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}

	&-animated {
		animation-name: moveinbottom;
		animation-duration: .5s;
		animation-timing-function: ease-out;
		animation-delay: .75s;
		animation-fill-mode: backwards;
	}
}
/////////////////////////

.btn-text {
	&,
	&:link,
	&:visited {
		font-size: 1.2rem;
		color: $dark-blue;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $dark-blue;
		padding: 3px;
		transition: all .2s;
	}

	&:hover {
		background-color: $dark-blue;
		color: white;
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0.5rem 1rem rgba(0, 0, 0, .15);
		transform: translateY(0);
	}
}
